@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;margin:0;padding:0;border:0;outline:0;font-size:98%;line-height:1.5;vertical-align:middle;background:transparent;color:#666666; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
